.menu-toolbar-component {
    display: flex;
    flex-direction: row;
}

.menu-toolbar-nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-right: 12px;
}