.login-page-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.63);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
    height: 200px;
    width: 400px;
    top: calc(50%  - 100px);
    left: calc(50% - 200px);
    position: absolute;
}