.poll-details-component {
    position: relative
}

.poll-details-avatar-img {
    width: 50px !important;
    height: 50px !important;
    border-style: none !important;
}

.poll-details-avatar-letter {
    width: 40px !important;
    height: 40px !important;
}