.poll-details-component {
    position: relative
}

.poll-details-avatar-img {
    width: 50px !important;
    height: 50px !important;
    border-style: none !important;
}

.poll-details-avatar-letter {
    width: 40px !important;
    height: 40px !important;
}

.poll-details-results {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
    background-color: var(--AppBar-background);

    h4 {
        color: var(--AppBar-color);
    }
}