.dashboard-component {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dashboard-unanswered,
    .dashboard-answered {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

        h2 {
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.63);
            max-width: max-content;
            padding: 4px 12px;
            border-radius: 8px;

            &.selected {
                color: white;
                background-color: var(--AppBar-background);
            }
        }
    }
}


    .MuiTabs-root {
        width: 100%;
    }
