body {
  margin: 0;
  font-family: var(--body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
  --AppBar-background: #1976d2;
  --App-font-family: 'lato';
  --body-font-family: 'lato', sans-serif;
}